<div class="container">

  <h1>Welcome to Your Admin Dashboard!</h1>
  <p><span class="highlight">Empower Your E-Commerce Journey</span></p>

<div class="feature-list">
  <h2>Key Features:</h2>
  <ul>
    <li>🛒 <span class="highlight">Product Management:</span> Seamlessly add, edit, or remove products to showcase your latest offerings and keep your inventory up-to-date.</li>
    <li>📦 <span class="highlight">Order Management:</span> Stay on top of incoming orders, update their statuses, and ensure swift delivery to your valued customers.</li>
  </ul>
</div>

<p><span class="highlight">How to Use:</span></p>
<ol>
  <li><strong>Product Management:</strong> Navigate to the Products section and click on "Add Product" to introduce new items. Use the intuitive interface to fill in product details and upload captivating images.</li>
  <li><strong>Order Management:</strong> Head over to the Orders section to view a detailed list of incoming orders. Click on individual orders to update their statuses and keep your customers informed throughout the buying journey.</li>
</ol>
<p>Ready to elevate your store? Armed with the tools and knowledge from your Admin Dashboard, you're ready to embark on an extraordinary journey in the world of e-commerce. Let your creativity flourish and watch your online store thrive!</p>

<a routerLink="/admin/products" class="button">start with Products !</a>

</div>