<!-- footer -->
<div class="footer-area bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p class="fs-6">An ecommerce website that focuses on Electronics products 
                        <br>
                        By offering products that are produced, packaged, and shipped with easy methods.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>ITI, Ismailia, Egypt.</li>
                        <li>supportITI.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="/product">Home</a></li>
                        <li><a href="/Category">Category</a></li>
                        <li><a href="/cart">cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end footer -->
